/* ----------------------------------
Mobile media (tablets) - 816 - 1100px
---------------------------------- */

@media screen and (min-width: 501px) and (max-width: 800px) {

    /* General */
    body {
        font-size: 20px;
    }
    p {
        font-size: 1.3rem;
        letter-spacing: 0.07rem;
        line-height: 1.75rem;
    }

    /* Header / Footer */
    footer p {
        margin: 0.75rem 0;
        font-size: 1.2rem;
        letter-spacing: 0.07rem;
        line-height: 1.5rem;
    }

    /* Images */
    #m86 img {
        max-width: 100%;
    }

}