/* ----------
Global styles 
---------- */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: "Encode Sans Condensed", sans-serif;
    margin: 0;
    font-size: 18px;
}
section {
    margin: 5% 0;
}
section:nth-of-type(even) {
    background-color: rgb(220, 220, 220);
}
section:last-of-type {
    margin-bottom: 0;
}
/* Text */
h1, h2 {
    color: rgb(40, 110, 160);
    margin: 1% 0;
    padding: 1.5%;
}
h3, h4, h5, h6 {
    margin: 1% 0;
    padding: 1%;
}
p {
    margin: 2%;
    font-size: 1.1rem;
    letter-spacing: 0.07rem;
    line-height: 2rem;
}
hr {
    border-color: rgb(40, 110, 160);
}
/* Images */
img {
    width: 100%;
    padding: 5px;
}

/* --------------
Header and Footer
-------------- */
header {
    position: relative;
}
.head-title {
    margin: 2rem 0;
}
.header-back {
    background: url(../images/m86_rg2.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 50vh;
}
.washout-back {
    background: #FFF;
    opacity: 0.5;
    display: inline-block;
    position: absolute;
    padding: 2%;
    /* Center alignment */
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
footer {
    margin: 0;
    background-color:rgb(40, 110, 160);
    color: #FFF;
}
footer p {
    margin: 2%;
    font-size: 0.9rem;
    letter-spacing: 0.07rem;
    line-height: 1.2rem;
}

/* -----
Wrappers
----- */
/* Text alignment */
.center {
    text-align: center;
}
.center-justify {
    text-align: justify;
    text-align-last: center;
}
/* Grids */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1%;
}
.grid-item-txt {
    padding: 1%;
    text-align: center;
}
.grid-item-img {
    display: relative;
    margin: auto;
}
/* ?? */
.grid-item-img img {
    max-height: 25vh;
}
.grid-item-img:hover {
    cursor: pointer;
}
.flex {
	display: flex;
}
.col-narrow {
	width: 30%;
    float: left;
}
.col-wide {
    display: inline-block;
	width: 70%;
	padding-left: 1%;
}

/* -------
Navigation
------- */
nav {
    background: rgb(40, 110, 160);
    padding: 1.5rem 0.5rem;
    text-align: center;
}
nav a {
    color: #FFF;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem 0.5rem;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
/* Border animation */

/* -----
Homepage
----- */
/* About and profile image */


/* ----------------
Projects / Research
---------------- */
/* M86 */
.h-alpha-pair {
    position: relative;
    margin: 0 auto;
}
.h-alpha-pair img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.h-alpha-pair img:first-child {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
/* Class added on user click to hide top image */
.hidden {
    opacity: 0;
}
/* NGC 4921 */
.zoom:hover {
    transition: transform 0.2s;
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); /* Rest */
}
/* NGC 4921 modal box (fullscreen image pop) */
#modal-0,
#modal-1,
#modal-2,
#modal-3,
#modal-4,
#modal-5 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 5%;
    overflow: auto;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.95);
    font-size: 1.5rem;
}
.modal-content-0,
.modal-content-1,
.modal-content-2,
.modal-content-3,
.modal-content-4,
.modal-content-5 {
    position: relative;
    color: white;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 90%;
}
/* Close and navigation buttons for modal */
.close {
    color: white;
    position: fixed;
    top: 3%;
    right: 5%;
    font-weight: bold;
}
.close:hover, .close:focus {
    cursor: pointer;
}
.prev, .next {
    cursor: pointer;
    color: white;
    position: fixed;
    top: 50%;
    padding: 3%;
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0;
}