/* ----------
Global styles 
---------- */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

/* --------------
Header and Footer
-------------- */
header {
    margin: 0;
    background-color: #39404c;
    color: white;
}
footer {
    background-color: #39404c;
}